*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    text-align: center;
    background-color: brown;
    color: white;
}

h1{
    margin: 10px 0;
}

/* Stili contenitore bianco */
.container_white{
    background-color: white;
    width: 70%;
    margin: 20px auto;
    color: brown;
    border-radius: 10px;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: center;
}
.row input{
    width: 220px;
    padding: 5px;
    border: 1px solid brown;
    border-radius: 10px;
    margin-top: 10px;
}
.button{
    margin: 20px 20px 0 20px;
    padding: 5px;
    border: 1px solid brown;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.col{
    padding: 0 10px;
}

/* Stili biglietto */
#biglietto{
    display: none;
}
#biglietto .col{
    flex-grow: 1;
    color: black;
}
#dp{
    text-align: left;
}
#riga_biglietto{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#col_nome{
    background-color: rgb(161, 161, 161);
}
.col h4{
    margin-bottom: 40px;
    
}
